
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        @Styles.Render("~/Content/css")
</head>
<body>
    <form action="@Url.Action("Index","Acceso")" class="bg-info" style="padding:12px" name="fvalida" method="post" >
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 ">



                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="email" name="correo" id="correo" />
                        <div id="vcorreo"></div>
                    </div>

                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" name="clave" id="clave" />
                        <div id="vclave"></div>
                    </div>
                    <input class="btn btn-success btn-lg" style="text-align:center" type="button" value="Ingresar" onclick="valida_enviar()">

                </div>


                @*<button type="button" class="btn btn-success" onclick="valida_enviar()">Ingresar</button>*@




            </div>
        </div>
    </form>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function valida_enviar() {
            var correo = String(document.getElementById("correo").value);
            var clave = String(document.getElementById("clave").value);

            
            if (correo == null || correo == "") {
                $("#vcorreo").show();
                $("#vcorreo").html("<div class='alert alert-danger' role='alert'>Ingrese Correo </div>").show();
                console.log("entre");

                return 0;
            } else {
                $("#vcorreo").hide();
            }
            
            if (clave == null || clave == "") {
                $("#vclave").show();
                $("#vclave").html("<div class='alert alert-danger' role='alert'>Debe Ingrese Contraseña </div>").show();
                console.log("entre");

                return 0;
            } else {
                $("#vclave").hide();
            }


            document.fvalida.submit();
        }
    </script>

</body>
</html>
